HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
##代码绝对提交
!**/src/main/**
!**/src/test/**
##排除node的依赖
**/node_modules/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
hsf.lock
*.log
#排除apollo的本地缓存配置
config/*